{% extends "layout.html" %}


{% block content %}

<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
        <h1>Are you sure you want to delete {{menu_item.name}}?</h1>
        </div>
    </div>    
</div>

<div class="row">
   
    <div class="col-md-4">
			<form role="form" action="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = menu_item.id)}}" method="POST">
				
				<button type="submit" class="btn btn-default">
					Delete {{menu_item.name}}
				</button>
			</form>
            <a class="btn" href="{{url_for('showMenu',restaurant_id = restaurant_id)}}">Cancel</a>
		</div>
   
</div>

{% endblock %}

<html>
    <body>
        
        <h1>Are you sure to want to delete {{menu_item.name}}?</h1>

        <form action="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = menu_item.id)}}" method="POST">
            <input type="submit" value="Delete">
        </form>
        <a href="{{url_for('restaurantMenu',restaurant_id = restaurant_id)}}">Cancel</a>
    </body>
</html>