{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
        <h1>{{restaurant.name}} Menu</h1>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                <li class="divider"><strong>{{message}}</li>
                {% endfor %}
            </ul>
            
        </div>
        {% endif %}
        {% endwith %}
        <a class="btn btn-lg btn-primary" href="{{ url_for('newMenuItem', restaurant_id = restaurant.id)}}">Add a new item</a>
    </div>    
</div>



{% if not items%}
<h2>There are no items</h2>
{% endif %}
<div class="row">
    
    {% for item in items %}
    <div class="col-md-4">
        <h3>{{ item.name }}</h3>
        <span class="price">
            <p>{{item.price}}</p>
        </span>
        <span>
            <p>{{item.description}}</p>
        </span>
        <a class="btn btn-info" href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = item.id) }}'>Edit</a>
        
        <a class="btn btn-warning" href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = item.id) }}'>Delete</a>
    </div>
    {% endfor %}
</div>

{% endblock %}