{% extends "layout.html" %}


{% block content %}

<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
        <h1>Restaurants <a class="btn btn-lg btn-primary" href="{{ url_for('newRestaurant')}}">Add a new restaurant</a></h1>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                <li class="divider"><strong>{{message}}</li>
                {% endfor %}
            </ul>
            
        </div>
        {% endif %}
        {% endwith %}
        
    </div>    
</div>


{% if not items%}
<h2>There are no items</h2>
{% endif %}
<div class="row">
    {% for restaurant in restaurants %}
    <div class="col-md-4">
        <h3 class="text-center">{{ restaurant.name }} </h3>
        <p class="text-center">
        <a class="btn btn-success" href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">View Menu</a>
        <a class="btn btn-info" href='{{url_for('editRestaurant', restaurant_id = restaurant.id) }}'> Edit</a>
        <a class="btn btn-warning" href='{{url_for('deleteRestaurant', restaurant_id = restaurant.id) }}'>Delete</a>
        </p>
        
    </div>
    {% endfor %}
</div>

{% endblock %}